

<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-1">
		    <h3>会員一覧</h3>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<table class="table table-bordered">
				<tr class="active">
			      <th>会員ID</th>
				    <th>氏名</th>
				    <th>メールアドレス</th>
				    <th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
			        <tr>
				    	<td><%= customer.id %></td>
				    	<% name = customer.last_name + customer.first_name %>
			            <td><%= link_to name ,"/admins/customers/#{customer.id}" , class:"btn btn-primary text-center" %></td>
			            <td><%= customer.email %></td>
			            <td>
			            	<% if customer.deleted_at == nil %>
			            		<p>有効</p>
			            	<% else %>
			            	    <p>退会済</p>
			            	<% end %>
			            </td>
			        </tr>
				<% end %>
			</table>
			<div class="row">
		        <div class="col-xs-4 col-xs-offset-4">
			        <%= paginate @customers %>
			    </div>
			</div>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>