<%# 注文完了画面 %>
<div class="container-fluid">
  <div class="col-xs-col-xs-6 col-xs-offset-2">
    <h1>ご注文ありがとうございました！</h1>
    <img alt="thanks" src="/assets/thanks.jpg" style="height: 500px;">
  </div>
</div>