<%# 新規注文画面（支払い方法選択＋お届け先選択） %>
<h2>注文情報入力</h2>

<%# 支払方法選択 %>
<h2>支払方法</h2>
<input type="radio" name="sample" value="0">クレジットカード
<input type="radio" name="sample" value="1">銀行振込

<%# お届け先選択 %>
<h2>お届け先</h2>
<input type="radio" name="sample" value="0">ご自身の住所
<input type="radio" name="sample" value="1">登録済住所から選択
<input type="radio" name="sample" value="2">新しいお届け先

