// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.space{
	margin-bottom: 20px ;
}
.font{
	padding : 2px 0 ;
	font-size: 18px ;
	font-weight: lighter ;
}
.font-top{
	padding : 2px 0 ;
	font-size: 21px ;
	font-weight: lighter ;
}
.font-click{
	font-size: 21px ;
}